nav{
    background-color: #2a262a38;
}

body{
    background-color: #151415;
    /* overflow-x: hidden; */
}
.nav-link{
    font-size: larger;
    font-weight: bold;
}
.custom-toggler-icon {
    background-color: #b475e3; 
    border-radius: 2px; 
}
.custom-toggler-icon::before {
    background-color: transparent; 
}
.navbar-nav .nav-item .nav-link:hover{
    color:#b475e3 !important;
    font-size: 20px;
}


footer{
    margin: 0 ;
    /* padding: 30px 0 !important;  */
}


